.distributors-container {
    text-align: center;
    padding: 20px;
}

.distributors {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
}

.distributors div {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid black;
    min-width: 200px;
    font-size: 18px;
    
}
.detail-container {
    margin: 8rem auto;   
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    height: fit-content;
    background-color: grey;
}

.detail-distributor-container{
    display: flex;
    flex-direction: column;
}
.distributor-middle-names {
    display: flex;
    justify-content: space-around;
}
.distributor-detail-header {
    display: flex;
    justify-content: space-around;
    color: blanchedalmond;
    width: 100%;
}

.distributor-details-retail {
    margin: 20px;
    padding: 5px;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
}
.detail-flower-container {
    padding: 5px;
    color: blanchedalmond;
    display: flex;
}
.distributor-detail-flower-container {
    display: flex;
    margin: auto;
    justify-content: center;
}
.flower-container {
    width: 100%;
    background-color: gray;
    margin: 20px;    
    border: 3px solid silver;
}
.flower-item {
    display: flex;
    flex-direction: column;
    padding: 3px;
}
