.retailers-container {
    text-align: center;
    padding: 20px;
}

.retailers {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
}

.retailers div {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid black;
    min-width: 200px;
    font-size: 18px;
    
}