.nurseries-container {
    text-align: center;
    padding: 20px;
}

.nurseries {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.nurseries div {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid black;
    min-width: 200px;
    font-size: 18px;
    
}

.distributor-container{
    margin: 8rem auto;   
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    height: fit-content;
    background-color: grey;
}

.detail-distributor-container{
    display: flex;
    flex-direction: column;
}
.distributor-middle-names {
    display: flex;
    justify-content: space-around;
}
.Title {
    color: blanchedalmond;
    text-align: center;
}

.distributors {
    font-size: 53px;
    color: blanchedalmond
}
.distributor-details-retail {
    
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
}